@charset "UTF-8";

@font-face
{
	font-family:"EC";
	src:url(font/ec.ttf);
}

@font-face
{
	font-family:"ECB";
	src:url(font/ecb.ttf);
}

body
{
	font-family:monospace; /*probably won't be useful but just in case*/
	margin:10px; /*10px away from all edges of the screen*/
	text-align:center;
	color:white;
	background-color:#050505;
}

p
{
	font-family:"EC";
	font-size:2em;
	line-height:30px;
	margin:10px;
	letter-spacing:2px;
}

h1
{
	font-family:"ECB";
	font-size:3em;
	line-height:normal;
	margin:17px 0px -1px 8px;
	letter-spacing:3px;
	text-transform:uppercase;
	text-shadow:-2px 0px red, 2px 0px blue;
}

h2
{
	font-family:"EC";
	font-size:2em;
	line-height:normal;
}

.page-wrap
{
	max-width:1000px;
	height:100%;
	margin:0px auto; /*centers the whole shabang*/
}

/*---------------------------HEADER & NAVIGATION---------------------------*/

header
{
	display:flex; /*everything needs to flex*/
	flex-direction:column; /*stacks boxes in a column*/
	justify-content:center; /*centers everything within the border*/
	padding:10px; /*adds a 10px border*/
	border:10px solid white; /*10px out of 30px* sliced*/
	border-image:url(media/border.png) 10 round; /*makes sure name1 and name2 are in the right spot*/

	/*I have no idea why the bottom padding needs to be 6px, but there's inherently 4px of padding already so this evens it out I guess*/
}

header a img
{
	image-rendering:pixelated; /*disables anti-aliasing on the header image*/
}

.name1
{
	display:none; /*makes .name1 hidden until the mediaQ enables*/
	max-width:100%;
	margin:0px;
	margin-bottom:5px; /*separates "jordan.png" and "mattmiller.png" when they're stacked by 10px total*/
}

.name2
{
	max-width:100%;
	margin:0px;
	margin-top:5px; /*separates "jordan.png" and "mattmiller.png" when they're stacked by 10px total*/
}

.name3
{
	margin:0px;
	max-width:100%;
	margin-bottom:5px; /*separates "jordan.png" and "mattmiller.png" when they're stacked by 10px total*/
}

.nav-bar
{
	display:flex;
	flex-flow:column wrap;
	justify-content:center;
    letter-spacing:2px;
	margin:10px 10px 0px 10px;
	border:10px solid white;
	border-image:url(media/border.png) 10 round; /*separates nav from logo, sides, and content below*/
}

.nav-1, .nav-2 /*separators*/
{
	border:0px; /*invisible border*/
	border-bottom:10px solid white; /*adds a border on the bottom only*/
	border-image:url(media/border.png) 10 round;
}

.nav-bar a:link
{
	font-family:"ECB"; /*removes underline*/
	font-size:2em; /*CONTRAST*/
	padding-top:18px; /*separates each link*/
	padding-bottom:16px;
	text-decoration:none; /*custom font for the nav bar*/
	text-transform:uppercase; /*makes the nave bar uppercase*/
	color:white;
}

.nav-bar a:visited /*spelled "visted" the first time*/
{
	color:white; /*CONTRAST*/
}

.nav-bar a:hover
{
	color:#050505; /*CONTRAST*/
	background-color:#00B600; /*green r:000 g:182 b:000*/ 
}

/*----------------------------------INDEX----------------------------------*/

.index-main
{
	display:flex;
	flex-flow:column wrap;
	margin:0px 10px 0px 10px;
}

.cta
{
	padding:7px 10px 10px 10px;
	border:10px solid white;
	border-image:url(media/border.png) 10 round;
}

.underline-1
{
    text-decoration-line:underline;
    -webkit-text-decoration-line:underline;
    text-decoration-color:#B60000;
    -webkit-text-decoration-color:#B60000;
}

.underline-2
{
	text-decoration-line:underline;
    -webkit-text-decoration-line:underline;
    text-decoration-color:#00B600;
    -webkit-text-decoration-color:#00B600;
}

.underline-3
{
	text-decoration-line:underline;
    -webkit-text-decoration-line:underline;
    text-decoration-color:blue;
    -webkit-text-decoration-color:blue;
}

.index-main iframe
{
	height:350px;
	border:10px solid white;
}

/*
.button /*link,visited,hover,active*//*
{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.button a:link
{
	font-family:"ECB";
	font-size:2em;
	margin-top:10px;
	padding:20px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#050505;
	background-color:white;
}

.button a:visited
{
	color:#050505;
}

.button a:hover
{
	padding:10px 0px;
	color:white;
	border:10px solid white;
	background-color:#050505;
}

.button a:active
{
	color:white;
	background-color:#050505;
}*/

.mail-form
{
	display:flex;
	flex-flow:column wrap;
	justify-content:center;
}

.input-box
{
	display:flex;
	flex-flow:column wrap;
	justify-content:center;
}

.input
{
	font-family:"ECB";
	font-size:2em;
	margin-bottom:10px;
	padding:5px 10px;
	color:white;
	border:10px solid white;
	border-radius:0px;
	outline:none;
	background-color:#050505;
}

.text-area
{
	font-family:"ECB";
	font-size:2em;
	margin-bottom:10px;
	padding:5px 10px;
	resize:none;
	color:white;
	border:10px solid white;
	border-radius:0px;
	outline:none;
	background-color:#050505;
}

.submit
{
	font-family:"ECB";
	font-size:2em;
	padding:0px;
	text-transform:uppercase;
	color:#050505;
	border:10px solid white;
	border-radius:0px;
	outline:none;
	background-color:white;
}

.submit:hover
{
	cursor:pointer;
	color:white;
	border:10px solid white;
	background-color:#050505;
}

/*---------------------------------IMAGES----------------------------------*/

.images-main
{
	display:flex;
	flex-flow:column wrap;
}

.images-wrapper
{
	display:flex;
	flex-wrap:wrap;
	margin:0px 30px -10px 10px;
}

.images-container
{
	flex:660px;
	justify-content:center;
	max-width:100%;
}

.images-container img
{
	width:100%;
	margin-bottom:10px;
	border:10px solid white;
}

.collapse
{
    display:flex;
	font-family:"ECB";
	font-size:2em;
	margin-bottom:10px;
	padding:5px 10px 5px 10px;
	cursor:pointer;
	text-align:left;
	text-transform:uppercase;
	color:#050505;
	border:none;
	outline:none;
	background-color:white;
}

.collapse:after
{
	content:url(media/arrow-left.png);
	image-rendering:pixelated;
}

.active:after
{
	content:url(media/arrow-down.png);
}

.content
{
	display:none;
	overflow:hidden;
	flex-flow:column wrap;
	margin:-10px 0px 10px 0px;
	padding:10px 10px;
	border:10px solid white;
	border-top:0px;
	border-image:url(media/border.png) 10 round;
	background-color:#050505;
}

.content a:link
{
	font-family:"ECB";
	font-size:2em;
	overflow:hidden;
	margin:10px 10%;
	padding:20px 10px;
	text-decoration:none;
	text-transform:uppercase;
	color:#050505;
	background-color:white;
}

.content a:visited
{
	color:#050505;
}

.content a:hover
{
	padding:10px 0px;
	color:white;
	border:10px solid white;
	background-color:#050505;
}

.content a:active
{
	color:white;
	background-color:#050505;
}

.images-main .collapse
{
	margin:10px;
}

.images-main .content
{
	margin:-10px 10px 0px 10px;
	padding:0px;
}

.images-main .content a:link
{
	margin:0px;
	padding:0px;
	background-color:#050505;
}

.images-main .content a:hover
{
	margin:0px;
	padding:inherit;
	border:none;
}

.button-container1, .button-container2
{
	max-width:100%;
	margin-top:10px;
}

.button-container1 img, .button-container2 img
{
	width:100%;
	margin-bottom:10px;
	border:10px solid white;
}

.button-container1
{
	margin-right:30px;
	margin-left:10px;
}

.button-container2
{
	margin-right:30px;
	margin-left:10px;
}

/*---------------------------------VIDEOS----------------------------------*/

.videos-main
{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	margin:0px 30px 0px 10px;
}

.videos-main h1
{
	margin-left:33px;
}

.videos-main iframe
{
	width:100%;
	height:350px;
	margin-bottom:10px;
	border:10px solid white;
}

.videos-main iframe:last-child
{
	margin-bottom:0px;
}

/*---------------------------------FOOTER----------------------------------*/

footer
{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-around;
	margin-top:10px;
}

footer a
{
	cursor:pointer;
}

#facebook
{
	width:48px;
	height:48px;
	background:url('media/facebook.gif') 0px 0px;
	image-rendering:pixelated;
}

#instagram
{
	width:48px;
	height:48px;
	background:url('media/instagram.gif') 0px 0px;
	image-rendering:pixelated;
}

#twitter
{
	width:48px;
	height:48px;
	background:url('media/twitter.gif') 0px 0px;
	image-rendering:pixelated;
}

#facebook:hover
{
	background:url('media/facebook.gif') 0px -48px;
	image-rendering:pixelated;
}

#instagram:hover
{
	background:url('media/instagram.gif') 0px -48px;
	image-rendering:pixelated;
}

#twitter:hover
{
	background:url('media/twitter.gif') 0px -48px;
	image-rendering:pixelated;
}

/*------------------------------MEDIA QUERIES------------------------------*/

@media only screen and (min-width:43.75em) /*screen grows over 700px and changes*/
{
	.nav-bar, header, .button, .images-wrapper, .footer, .images-main .content
	{
		flex-flow:row nowrap; /*inline style instead of column*/
	}

	.name1
	{
		display:flex;
		margin:0px;
		margin-right:10px; /*separates "jordan-alt.png" and "mattmiller-alt.png" when they're next to easch other by 20px total*/
	}

	.name2
	{
		margin:0px;
		margin-left:10px; /*separates "jordan-alt.png" and "mattmiller-alt.png" when they're next to easch other by 20px total*/
	}

	.name3
	{
		display:none;
	}

	.nav-bar, .button
	{
		justify-content:space-around; /*makes space between the links*/
	}

	.nav-bar a:link
	{
		font-size:2em;
	}

	.nav-2
	{
		border:0px; /*removes the bottom border*/
		border-right:5px solid white; /*makes a separator that is 10px*/
		border-left:5px solid white; /*makes a separator that is 10px*/
	}

	.nav-1
	{
		border:0px; /*removes the bottom border*/
		border-right:5px solid white; /*contributes to the separators*/
	}

	.nav-3
	{
		border:0px; /*removes the bottom border*/
		border-left:5px solid white; /*contributes to the separators*/
	}

	.nav-1, .nav-3
	{
		flex-grow:1; /*grows the links in conjunction to the "space-around"*/
	}

	.nav-2
	{
		flex-grow:2.5; /*makes the home button 2.5x bigger than the others*/
	}
    
    .left
    {
        text-align:left;
    }

    .right
    {
        text-align:right;
    }

    
/*
	.button a:link
	{
		font-size:2em;
		flex-grow:1;
		padding:20px 10px;
	}

	.button a:hover
	{
		padding:10px 0px;
	}

	.b-1
	{
		margin-right:5px;
	}

	.b-2, .b-3
	{
		margin-right:5px;
		margin-left:5px;
	}

	.b-4
	{
		margin-left:5px;
	}
*/
	.images-wrapper
	{
		margin-right:0px;
		margin-left:10px;
	}

	.images-container
	{
		margin-right:30px;
	}

	.images-container img
	{
		width:100%;
		min-width:280px;
		border:10px solid white;
	}

	.button-container1
	{
		margin-right:20px;
		margin-left:10px;
	}

	.button-container2
	{
		margin-right:30px;
		margin-left:10px;
	}

	.videos-main iframe, .index-main iframe
	{
		height:540px;
	}

	.blog-main p
	{
		margin:20px;
		padding:0px 130px;
		text-indent:50px;
	}

	footer
	{
		justify-content:center;
	}

	footer a
	{
		margin:0px 5px;
	}

	#facebook
	{
		width:32px;
		height:32px;
		background:url('media/facebook-sm.gif') 0px 0px;
		image-rendering:pixelated;
	}

	#instagram
	{
		width:32px;
		height:32px;
		background:url('media/instagram-sm.gif') 0px 0px;
		image-rendering:pixelated;
	}

	#twitter
	{
		width:32px;
		height:32px;
		background:url('media/twitter-sm.gif') 0px 0px;
		image-rendering:pixelated;
	}

	#facebook:hover
	{
		background:url('media/facebook-sm.gif') 0px -32px;
		image-rendering:pixelated;
	}

	#instagram:hover
	{
		background:url('media/instagram-sm.gif') 0px -32px;
		image-rendering:pixelated;
	}

	#twitter:hover
	{
		background:url('media/twitter-sm.gif') 0px -32px;
		image-rendering:pixelated;
	}
}

@media only screen and (max-width:450px)
{
	.videos-main iframe, .index-main iframe
	{
		height:210px;
	}
}
